@import "tailwindcss";
@import "tw-animate-css";
@plugin "tailwindcss-react-aria-components";

:root {
  interpolate-size: allow-keywords;
}

@theme {
  --color-*: initial;
  --text-*: initial;
  --shadow-*: initial;

  --color-black: #000000;

  --color-base-background: #ffffff;
  --color-base-background-subdued: #f5f5f5;
  --color-base-border: #dedede;
  --color-base-icon: #707070;
  --color-base-text: #000000;
  --color-base-text-subdued: #707070;
  --color-base-text-contrast: #ffffff;
  --color-base-accent: #197cbd;
  --color-base-accent-contrast: #ffffff;
  --color-base-decorative: #1773b0;

  --color-control-background: #ffffff;
  --color-control-background-subdued: #f5f5f5;
  --color-control-border: #dedede;
  --color-control-icon: #707070;
  --color-control-text: #000000;
  --color-control-text-subdued: #707070;
  --color-control-text-contrast: #ffffff;
  --color-control-accent: #1773b0;
  --color-control-accent-contrast: #ffffff;
  --color-control-decorative: #1773b0;

  --color-control-selected-background: #eff5ff;
  --color-control-selected-background-subdued: #e0ecff;
  --color-control-selected-border: #1773b0;
  --color-control-selected-icon: #1773b0;
  --color-control-selected-text: #000000;
  --color-control-selected-text-subdued: #707070;
  --color-control-selected-text-contrast: #ffffff;
  --color-control-selected-accent: #1773b0;
  --color-control-selected-accent-contrast: #ffffff;
  --color-control-selected-decorative: #1773b0;

  --color-primary-button-background: #1773b0;
  --color-primary-button-background-subdued: #1773b0;
  --color-primary-button-border: #1773b0;
  --color-primary-button-icon: #ffffff;
  --color-primary-button-text: #ffffff;
  --color-primary-button-text-subdued: #ffffff;
  --color-primary-button-text-contrast: #000000;
  --color-primary-button-accent: #ffffff;
  --color-primary-button-accent-contrast: #000000;
  --color-primary-button-decorative: #ffffff;

  --color-primary-button-hover-background: #1773b0;
  --color-primary-button-hover-background-subdued: #1773b0;
  --color-primary-button-hover-border: #1773b0;
  --color-primary-button-hover-icon: #ffffff;
  --color-primary-button-hover-text: #ffffff;
  --color-primary-button-hover-text-subdued: #ffffff;
  --color-primary-button-hover-text-contrast: #000000;
  --color-primary-button-hover-accent: #ffffff;
  --color-primary-button-hover-accent-contrast: #000000;
  --color-primary-button-hover-decorative: #ffffff;

  --color-secondary-button-background: #ffffff;
  --color-secondary-button-background-subdued: #ffffff;
  --color-secondary-button-border: #dedede;
  --color-secondary-button-icon: #1773b0;
  --color-secondary-button-text: #1773b0;
  --color-secondary-button-text-subdued: #1773b0;
  --color-secondary-button-text-contrast: #ffffff;
  --color-secondary-button-accent: #1773b0;
  --color-secondary-button-accent-contrast: #ffffff;
  --color-secondary-button-decorative: #1773b0;

  --color-secondary-button-hover-background: #ffffff;
  --color-secondary-button-hover-background-subdued: #ffffff;
  --color-secondary-button-hover-border: #dedede;
  --color-secondary-button-hover-icon: #1773b0;
  --color-secondary-button-hover-text: #1773b0;
  --color-secondary-button-hover-text-subdued: #1773b0;
  --color-secondary-button-hover-text-contrast: #ffffff;
  --color-secondary-button-hover-accent: #1773b0;
  --color-secondary-button-hover-accent-contrast: #ffffff;
  --color-secondary-button-hover-decorative: #1773b0;

  --color-critical: #dd1d1d;
  --color-critical-background: #fef6f6;
  --color-critical-background-subdued: #feecec;
  --color-critical-border: #fdd8d8;
  --color-critical-icon: #e92020;
  --color-critical-text: #420000;
  --color-critical-text-subdued: #640707;
  --color-critical-text-contrast: #ffffff;

  --color-info: #000000;
  --color-info-background: #f5f5f5;
  --color-info-background-subdued: #f2f2f2;
  --color-info-border: #e3e3e3;
  --color-info-icon: #787878;
  --color-info-text: #1c1c1c;
  --color-info-text-subdued: #303030;

  --color-warning: #8f6900;
  --color-warning-background: #fff5eb;
  --color-warning-background-subdued: #ffeedb;
  --color-warning-border: #ffdeb2;
  --color-warning-icon: #997000;
  --color-warning-text: #241700;
  --color-warning-text-subdued: #423100;

  --color-success: #4d7a50;
  --color-success-background: #eafbea;
  --color-success-background-subdued: #ddf8de;
  --color-success-border: #b1f2b4;
  --color-success-icon: #528456;
  --color-success-text: #101e11;
  --color-success-text-subdued: #528456;

  --color-disabled-input-background: #f8f8f8;

  --radius-fully: 2.25rem; /* 36px */
  --radius-large: 0.625rem; /* 10px */
  --radius-base: 0.3125rem; /* 5px */
  --radius-small: 0.1875rem; /* 3px */
  --radius-none: 0rem; /* 0px */

  --spacing-large-500: 2.375rem; /* 38px */
  --spacing-large-400: 2rem; /* 32px */
  --spacing-large-300: 1.625rem; /* 26px */
  --spacing-large-200: 1.3125rem; /* 21px */
  --spacing-large-100: 1.0625rem; /* 17px */
  --spacing-base: 0.875rem; /* 14px */
  --spacing-small-100: 0.6875rem; /* 11px */
  --spacing-small-200: 0.5625rem; /* 9px */
  --spacing-small-300: 0.4375rem; /* 7px */
  --spacing-small-400: 0.3125rem; /* 5px */
  --spacing-small-500: 0.1875rem; /* 3px */
  --spacing-none: 0rem; /* 0px */

  --spacing-field-line-height: 1.5;
  --spacing-field-label-height: calc(
    var(--text-field-label) * var(--spacing-field-line-height)
  );
  --spacing-field-value-height: calc(
    var(--text-field-value) * var(--spacing-field-line-height)
  );
  --spacing-field-padding-inline: var(--spacing-small-100);
  --spacing-field-padding-block: var(--spacing-small-100);
  --spacing-field-height: calc(
    var(--text-field-label) + var(--text-field-value) +
      var(--spacing-field-padding-block) * 2
  );
  --spacing-empty-field-padding-block: calc(
    (var(--spacing-field-height) - var(--spacing-field-value-height)) / 2
  );
  --spacing-filled-field-padding-block-start: calc(
    (
        var(--spacing-field-height) - var(--spacing-field-value-height) -
          var(--text-field-label)
      ) /
      2 + var(--text-field-label) + 1.5px
  );
  --spacing-filled-field-padding-block-end: calc(
    var(--spacing-field-height) -
      var(--spacing-filled-field-padding-block-start) -
      var(--spacing-field-value-height)
  );
  --spacing-label-inset-inline-start: calc(
    var(--spacing-field-padding-inline) + 1px
  );
  --spacing-label-inset-block-start: calc(
    (
        var(--spacing-field-height) - var(--text-field-value) -
          var(--spacing-field-label-height)
      ) /
      2 - 1px
  );

  --spacing-shell-main-inline-size: 36.25rem; /* 580px */
  --spacing-shell-order-summary-inline-size: 30rem; /* 480px */
  --spacing-shell-section-columns-offset: calc(
      calc(
          var(--spacing-shell-main-inline-size) -
            var(--spacing-shell-order-summary-inline-size)
        ) /
        2
    )
    /* 50px */;

  --font-primary: var(--font-inter);
  --font-secondary: var(--font-inter);

  --text-extra-large: 1.3125rem; /* 21px */
  --text-large: 1.1875rem; /* 19px */
  --text-medium: 1rem; /* 16px */
  --text-base: 0.875rem; /* 14px */
  --text-small: 0.75rem; /* 12px */
  --text-extra-small: 0.625rem; /* 10px */

  --text-field-label: var(--text-small);
  --text-field-value: var(--text-base);

  --shadow-extra-small:
    0px -1px 2px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08);
  --shadow-small:
    0px -1px 2px rgba(0, 0, 0, 0.04), 0px 0.5px 1px rgba(0, 0, 0, 0.04),
    0px 4px 8px rgba(0, 0, 0, 0.08);
  --shadow-base:
    0px -1px 2px rgba(0, 0, 0, 0.04), 0px 0.5px 1px rgba(0, 0, 0, 0.032),
    0px 1.8px 3.8px rgba(0, 0, 0, 0.048), 0px 8px 16px rgba(0, 0, 0, 0.08);
  --shadow-large:
    0px -1px 2px rgba(0, 0, 0, 0.08), 0px 1.1px 1.1px rgba(0, 0, 0, 0.028),
    0px 3px 3px rgba(0, 0, 0, 0.04), 0px 7.2px 7.2px rgba(0, 0, 0, 0.05),
    0px 24px 24px rgba(0, 0, 0, 0.08);
  --shadow-extra-large:
    0px -2px 4px rgba(0, 0, 0, 0.08), 0px 1.1px 1.1px rgba(0, 0, 0, 0.028),
    0px 2.8px 2.8px rgba(0, 0, 0, 0.035), 0px 5.7px 5.7px rgba(0, 0, 0, 0.045),
    0px 11.7px 11.7px rgba(0, 0, 0, 0.055), 0px 32px 32px rgba(0, 0, 0, 0.08);
}
